# Python
__pycache__/
*.py[cod]
*$py.class

# Local database files
*.db
*.sqlite3

# Virtual environment
.venv/
venv/

# IDE files
.vscode/

# Environment variables (local development only)
.env
.env.local
.env.*.local
